.fade-in-section {
			opacity: 0;
			transition: opacity 1s ease-out, transform 1s ease-out;
		}
.animate-fadeIn {
			animation: fadeIn 1s ease-out forwards;
		}
		.animate-flyIn {
			animation: flyIn 1s ease-out forwards;
		}